*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
    background-color: gray;
    padding: 3vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

main div{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

main div p{
    margin-top: 5vh;
}

main div label{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

main div input[type='button']{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

main div input{
    padding: 1vh;
    margin-bottom: 2vh;
    width: 100%;
}

#reset{
    padding: 1vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 50%;
}